@import "tailwindcss";

@theme inline {
  --color-primary: #ee406f;
  --color-dark: #32373c;
  --color-neutral: #abb8c3;
  --color-background: #ffffff;
  --color-foreground: #000000;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: system-ui, -apple-system, sans-serif;
}
